<nav class="header-nav">
  <ul> 
    <% if(currentUser){ %>
      <li><a href="/schedules">Classes and Events</a></li>
      <li><a href="/schedules/new">Add Classes and Events</a></li>
    <% } %>
  </ul>
</nav>
