
  <nav class="header-nav">
    <ul>
      <li><a href="/albums">Collections</a></li>
      <% if(currentUser){ %>
        <li><a href="/albums/new">Add Collection</a></li>
      <% } %>
      <li><a href="/photos">Photos</a></li>
      <% if(currentUser){ %>
        <li><a href="/photos/new">Add Photo</a></li>
      <% } %>
    </ul>
  </nav>

  
