<div class="container">
    <nav
      id="navbar"
      class="navbar navbar-expand-lg navbar-light bg-transparent"
    >
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav w-100 nav-fill">
          <a class="nav-link active" href="/mavis"
            ><span class="upperLink">M</span>avis<span class="sr-only"
              >(current)</span
            ></a
          >
          <a class="nav-link" href="/photos"
            ><span class="upperLink">M</span>avis'
            <span class="upperLink">G</span>allery</a
          >
          <a class="nav-link" href="/students"
            ><span class="upperLink">S</span>tudents'
            <span class="upperLink">G</span>allery</a
          >
          <a class="nav-link" href="/schedules"
            ><span class="upperLink">C</span>lasses and
            <span class="upperLink">W</span>orkshops</a
          >
          <a class="nav-link" href="/contact"
            ><span class="upperLink">C</span>ontact</a
          >
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              M
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/users/login">Login</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
          </li>  
        </div>
      </div>
    </nav>
  </div>