
<% scheduleListingClass = locals.small ? 'schedule-listing-small' : '' %>
<% scheduleGridClass = locals.small ? 'schedule-grid-small' : '' %>
<div>
  <% schedules.forEach(schedule => { %>
    <!-- <div class="card-group"> -->
      <!-- <div class="card" style="width: 36rem;"> -->
        <div class="container classes text-center">
          <h1 class="pages">Classes and Events</h1>
          <div class="schedule-image">
              <img class="img-fluid schedule-listing<%= scheduleListingClass %>" src="<%= schedule.listingImagePath %>">
          </div>
          <!-- <div class="card-footer"> -->
            <div class="btn-show">
              <% if(currentUser){ %>
                <a class="btn btn-primary btn-edit" href="/schedules/<%= schedule.id %>/edit">Edit</a>
                <%- include('../partials/deleteForm', { url: `/schedules/${schedule.id}` }) %> 
              <% } %>
            </div> 
          <!-- </div> -->
        </div>
      <!-- </div> -->
    <!-- </div> -->
  <% }) %>
</div>


