<%- include('./partials/head.ejs') %>
    <title>Classes and Events</title>
</head>
<body id="classes">
<%- include('./partials/header.ejs') %>

<div class="container classes text-center">
    <h1 class="pages">Classes and Workshops</h1>
    <p>Due to Covid-19, I am unable to hold my regular classes and workshops. 
        Please check back or send me an email, and I'll let you know as soon as 
        I'm able to resume teaching.
    </p>
    <p>
        <a class="email" href="mailto:mavis@trilliumartstudio.com? 
                      subject=Trillium Contact">
                      mavis@trilliumartstudio.com</a>
    </p>
</div>


<%- include('./partials/footer.ejs') %>
