<%- include('./partials/head.ejs') %>
    <title>Contact</title>
</head>
<body id="landing">
<%- include('./partials/header.ejs') %>

<div class="container contact text-center">
    <h1 class="pages">Contact</h1>
    <p>Trillium Art Studio is located in beautiful Oak Ridge, NC, just outside of Greensboro. 
    </p>
    <br>
    <p>Mavis can be reached at:</p>
    <div>
        <a class="email-contact" href="mailto:mavis@trilliumartstudio.com?
        subject=Contact">mavis@trilliumartstudio.com</a>
    </div> 
</div>

<a href=""></a>


<%- include('./partials/footer.ejs') %>

