<%- include('./partials/head.ejs') %>
    <title>Contact</title>
</head>
<body id="landing">
<%- include('./partials/header.ejs') %>

<div class="container contact text-center">
    <h1 class="pages">Contact</h1>
    <p>All the usual contact info with click links to email, phone and map 
        (if wanted)
    </p>
</div>


<%- include('./partials/footer.ejs') %>

