<%- include('./partials/head.ejs') %>
    <title>About Mavis</title>
</head>
<body id="landing">
<%- include('./partials/header.ejs') %>

<div class="container bio pb-5">
    <h1 class="pages text-center">Mavis Liggett</h1>
    <p>
      Mavis Liggett is a professional oil painter with works in private collections from France to Los Angeles. 
    </p>
    <p>
      She has taught in-studio oil painting for 14 years and has been teaching plein air painting for over 6 years.
    </p>
    <p>
      She teaches oil painting and color theory/composition classes for Art Alliance of Greensboro, <a href="https://www.artalliancegso.org">www.artalliancegso.org</a>, creative workshops for Hirsch Wellness Network, <a href="https://www.hirschwellnessnetwork.org">www.hirschwellnessnetwork.org</a>  and provides private/semi-private art classes from her home studio in Oak Ridge, North Carolina.
    </p>
    <p>
      Whether it's drawing, watercolor, or oil painting, Mavis provides instruction in materials and techniques, composition and color theory with classes structured to meet the needs of students of all skill levels. Says Mavis, " Helping people to explore their creativity and develop their skills in the visual arts has been my passion for over 14 years."
    </p>
</div>


<%- include('./partials/footer.ejs') %>
