
<div class="form-item form-item-student">
  <label>Student's Name</label>
  <input type="text" name="name" value="<%= student.name %>">
</div>

<div class="form-item form-item-student">
  <label>Website</label>
  <input type="text" name="url" value="<%= student.url %>" placeholder="https://<website>">
</div>

<div class="form-row form-row-filepond">
  <div class="form-item form-item-no-grow">
    <label>Cover Image</label>
    <input type="file" name="cover" class="student-cover filepond">
  </div> 
</div>

