
  <div class="form-item form-item-schedule">
    <label>Schedule's Name</label>
    <input type="text" name="name" value="<%= schedule.name %>">
  </div>


<div class="form-row form-row-filepond">
  <div class="form-item form-item-no-grow">
    <label>Cover Image</label>
    <input type="file" name="cover" class="schedule-cover filepond">
  </div>
</div>