<%- include('../partials/head.ejs') %>

<h2 class="page-header">Edit Schedule</h2>
<form action="/schedules/<%= schedule.id %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/schedules">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>

<%- include('../partials/footer.ejs') %>


