:root {
    --photo-website-width-small: 325px;
    --photo-website-width: 600px;
    --photo-website-aspect-ratio: 1;
  }
  
  .student-website {
    width: var(--photo-website-width);
    height: calc(var(--photo-website-width) / var(--photo-website-aspect-ratio));
    max-width: 600px;
    max-height: 600px;
    object-fit: contain;
    margin: auto;
  }
  
  .student-website-small {
    --photo-website-width: var(--photo-website-width-small);
    max-width: 325px;
    max-height: 325px;
    display: grid;
    object-fit: contain;
  }
  
  .student-grid {
    display: grid;
    justify-content: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, var(--photo-website-width));
  }
  
  .student-grid-small {
    margin-bottom: 5rem;
    grid-template-columns: repeat(auto-fill, var(--photo-website-width-small));
  }
  
  .student-details {
    display: flex;
  }

  .btn-student-search {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: auto;
  }
  
  .card {
    background-color: var(--color-six);
    margin-top: 1rem;
    padding: 1rem;
    padding-bottom: none;
    box-shadow: 12px 12px 10px rgba(0, 0, 0, 0.2),
      -12px -12px 10px rgba(0, 0, 0, 0.2);
  
  }
  
  .card-img-top {
    height: 75%;
    display: flex;
    align-items: center;
  }
  
  .card-title, .card-title-show {
    color:var(--color-four);
    margin-bottom: 1rem;
  }
  
  .card-show {
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 0rem;
  }

  div.card-footer {
    background-color: var(--color-six);
    border: none;
  }
  
  
  .btn-show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
  }
  
  .btn.btn-new, .btn.btn-edit {
    margin-right: 2em;
  }
  
  .btn-new-edit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 8em;
  }
  
  @media only screen and (max-width: 1200px) {
    .card-show {
      width: 80%;
    }
    .btn-new-edit {
      margin-right: 4em;
    }
  }
  
  @media only screen and (max-width: 1085px) {
    .student-website {
      max-width: 500px;
      max-height: 500px;
      position: relative;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .inner-container {
      margin: 0rem;
    }
    .card-show {
      width: 100%;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .student-website {
      max-width: 400px;
      max-height: 400px;
    }
  } 
  
  @media only screen and (max-width: 500px) {
    .card-body-show {
      padding: 0px;
      padding-top: 1em;
      padding-bottom: 1em;
    }
    .student-website {
      max-width: 375px;
      max-height: 375px;
    }
  } 
  
  @media only screen and (max-width: 350px) {
    .student-website {
      max-width: 250px;
      max-height: 250px;
    }
  }